* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: var(--color-text-white);
  background: rgba(129, 187, 63, 1);

}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
}

body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(180deg, var(--scrollbar-thumb-start) 0%, var(--scrollbar-thumb-end) 100%);
  border-radius: 24px;
  border: 2px solid var(--scrollbar-border);
}

body {
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  font-weight: 400;
  line-height: 1.5;
  max-width: 1920px;
  background-color: var(--color-bg-body);
  margin: 0 auto;
}

body.no-scroll {
  overflow: hidden;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Imagens responsivas */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  border-width: 0;
  font-family: var(--font-family-primary);
}