* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Tipografia base */
  body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    background: #d9d9d9;
    max-width: 1920px;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Imagens responsivas */
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }