:root {
    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Roboto', sans-serif;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-button: 500;
  
    --font-size-h1: 48px;
    --font-size-h2: 36px;
    --font-size-h3: 32px;
    --font-size-h4: 24px;
  }
  
  :root {
    --color-text-primary: rgba(1, 38, 16, 0.90);
    --color-text-secondary: rgba(255, 255, 255, 1);
  
    --color-bege: rgba(219, 170, 111, 0.90);
    --color-bg-cards: rgba(0, 102, 41, 0.2);
    --color-background: rgba(217, 217, 217, 1);
  }

  :root {
    --gutter: 128px;
  }

  /* TABLET (768px - 1199px) */
  @media (max-width: 1199px) {
    :root {
      --gutter: 64px;
    }
  }

  /* MOBILE (320px - 767px) */
  @media (max-width: 767px) {
    :root {
      --gutter: 32px;
    }
  }